{% extends "base.html" %}
{% block content %}
    <h2>An extension of base templates</h2>
    
    {% for recipe in recipes %}
        {{ recipe.recipe_name }}<br>
        {{ recipe.image }}<br>
        {{ recipe.date_posted }}<br>
        {{ recipe.ingredients }}<br>
        {{ recipe.cook_duration }}<br>
        {{ recipe.simple_description }}<br>
        {{ recipe.cook_direction }}<br>
        {{ recipe.adult_plates }}<br>
        {{ recipe.video }}<br>
        {{ recipe.vegan }}<br>
        {{ recipe.author }}<br>
    {% endfor %}

 {% endblock %}    